body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #614344;
    color: white;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 8px;
    margin-bottom: 2rem;
}

main {
    width: 90%;
    max-width: 800px;
    background: white;
    padding: 30px;
    margin: 30px 0;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center;
}

h1 {
    color: #2c3e50;
    text-align: center;
    padding-bottom: 2rem;
    margin-top: 0;
}

#rechercher {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    display: inline-block;
}

#reset {
    padding: 10px 20px;
    background-color: #4A2545;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    vertical-align: top;
}

table {
    width: 100%;
    margin: 20px auto 0 auto;
    border-collapse: collapse;
}


thead {
    background-color: #614344;
    color: white;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

p {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
    color: #2c3e50;
}

#total-price {
    color: #27ae60;
    font-size: 1.4rem;
}
